// h1, ul>li>a, h2 공통 글자 크기, 글자색, 밑줄
// 배경색 다름
// @mixin myText {
//   font-size: 18px;
//   color: pink;
//   text-decoration: underline;
// }
@mixin myText($글자크기, $글자색상, $밑줄: underline) {
  font-size: $글자크기;
  color: $글자색상;
  text-decoration: $밑줄;
}

header {
  h1 {
    background: #ccc;
    @include myText(50px, #333, overline);
  }
  .nav {
    li {
      a {
        @include myText(18px, #111);
      }
    }
  }
}
